body{
  background-color: #caeaf4;
}

article{
  background-color: #f2f2f3;
}

header{
  background-color: #f2f2f3;
  font-family: "Poppins";
}

nav{
  position: relative;
}

a{
  text-decoration: none;
  color: white;
}

.wvyslogonav{
  position: relative;
  z-index: -99;
}

.wvyshometwo{
  width: 940px;
}

.sidenav{
  background-color: #caeaf4;
  width: 160px;
  height: 100%;
  float: left;
}

.sidenav li{
  list-style: none;
  font-size: 16px;
  font-family: "Poppins";
}

.sidenav a{
  padding: 8px 8px 8px 8px;
  display: block;
}

.sidenav a:hover{
  color: #23395d;
}

/*
nav ul{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 16px;
  position: absolute;
  top: 30px;
  float: right;
  padding-left: 400px;
  font-family: "Poppins";
}

nav li{
  list-style: none;
  margin-left: 0;
  text-align: center;
  text-decoration-color: #ffffff;
*/

.primarynav{
  position: absolute;
  top: 25px;
  left: 320px;
  z-index: 99;
}

.primarynav > li{
  float: left;
  list-style: none;
  margin-left: 0;
  text-align: center;
  width: 10%;
}

.primarynav > li > a{
  color: white;
  text-decoration: none;
  padding: 5px;
  display: block;
}

.secondarynav{
  width: 100%;
  display: none;
}

.secondarynav li{
  list-style: none;
  margin-left: 0;
}

.secondarynav a{
  text-decoration: none;
  background: #152238;
  display: block;
  padding: 10px;
}

.primarynav li:hover .secondarynav{
display: block;
}

article h1{
  font-weight: bolder;
  font-size: 40px;
  margin-top: 30px;
  margin-left: 200px;
  margin-bottom: 20px;
  font-family: "Poppins";
}

article h2{
  font-weight: bold;
  font-size: 30px;
  font-family: "Poppins";
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
}

article h3{
  margin-left: 200px;
  margin-bottom: 10px;
  float: left;
}

article h6{
  margin-left: 200px;
  margin-bottom: 10px;
}

article p{
  margin-bottom: 10px;
  font-family: "Poppins";
}

.everyoneimage{
  width: 939.5px;
  height: 591px;
  position: relative;
}

.homeh1{
  position: absolute;
  top: 200px;
  left: 400px;
  color: white;
  font-weight: 300;
  font-family: "Poppins";
  font-size: 30px;
}

.homeh3{
  position: absolute;
  font-family: "Poppins";
  color: white;
  top: 280px;
  left: 457px;
  font-weight: 300;
  font-size: 15px;
}

.homeh2a{
  font-weight: bold;
  font-size: 30px;
  font-family: "Poppins";
  margin-left: 0px;
  text-align: center;
}

.homeh2b{
  font-weight: bold;
  font-size: 30px;
  font-family: "Poppins";
  text-align: center;
  margin-bottom: 30px;
}

.headerp{
  font-family: "Poppins";
  text-align: center;
  margin-top: 15px;
  margin-bottom: 35px;
  margin-left: 0px;
  font-size: 20px;
  font-weight: normal;
}

.cadetstringshome{
  margin-left: 20px;
  margin-right: 50px;
  margin-bottom: 140px;
  margin-top: 70px;
  float: left;
  width: 470px;
  height: 314px;
}

.homesectiononep{
  font-family: "PT Serif";
  font-size: 16px;
  margin-left: 15px;
}

.homesectiononecontact{
  font-family: "Poppins";
  margin-top: 35px;
  margin-bottom: 40px;
  text-align: center;
  margin-left: 10px;
}

.historyphoto{
  width: 470px;
  height: 314px;
  margin-right: 20px;
  float: right;
  margin-top: 70px;
}

.homesectiontwop{
  font-family: "PT Serif";
  font-size: 16px;
  margin-left: 90px;
}

#homesectionthree{
  margin-top: 60px;
}

.spring20157{
  float: left;
  margin-left: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
  width: 450px;
}

.homephotosright{
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  width: 470px;
  height: 314px;
  margin-bottom: 20px;
}

.programinfoleft{
  font-family: "PT Serif";
  font-size: 16px;
  margin-left: 120px;
  margin-top: 20px;
}

.programinforight{
  font-family: "PT Serif";
  font-size: 16px;
}

.ensemblesh1{
margin-left: 350px;
}

.ensemblesh2{
  margin-left: 100px;
}

.ensemblesh2cadet{
  margin-left: 100px;
}

.ensemblesp{
font-family: "PT Serif";
font-weight: normal;
font-size: 15px;
margin-left: 100px;
margin-bottom: 200px;
}

.ensemblespchambera{
font-family: "PT Serif";
font-weight: normal;
font-size: 15px;
margin-left: 100px;
margin-bottom: 25px;
}

.ensemblespchamberb{
font-family: "PT Serif";
font-weight: normal;
font-size: 15px;
margin-left: 100px;
margin-bottom: 50px;
}

.ensemblespa{
  font-family: "PT Serif";
  font-weight: normal;
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 250px;
}

.ensemblespb{
font-family: "PT Serif";
font-weight: normal;
font-size: 15px;
margin-left: 100px;
margin-bottom: 240px;
}

.ensemblespd{
  font-family: "PT Serif";
  font-weight: normal;
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 235px;
}

.youthorchestra{
  margin-left: 50px;
  margin-bottom: 100px;
  margin-right: 40px;
  width: 450px;
  float: left;
}

.youthstrings{
  margin-left: 50px;
  margin-bottom: 100px;
  margin-right: 50px;
  width: 450px;
  float: right;
}

.cadetstrings{
  margin-left: 50px;
  margin-bottom: 100px;
  margin-right: 40px;
  float: left;
  width: 440px;
}

.youthwinds{
  margin-left: 50px;
  margin-bottom: 100px;
  margin-right: 50px;
  width: 450px;
  float: right;
}

.chambermusic{
  margin-left: 50px;
  margin-bottom: 100px;
  margin-right: 50px;
  margin-top: 0px;
  width: 450px;
  float: left;
}

.chamberh2{
  margin-left: 50px;
}

.pbold{
  font-size: 20px;
}

.newsp{
  font-weight: normal;
  font-family: "PT Serif";
}

.newsgreatjob{
  font-weight: bolder;
  font-size: 16px;
  font-family: "PT Serif";
}

.newscontact{
  font-family: "PT Serif";
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.presshead{
  font-family: "Poppins";
  font-size: 20px;
  margin-top: 10px;
}

.pressp{
  font-weight: normal;
  font-family: "PT Serif";
}

.presspend{
  font-weight: normal;
  font-family: "PT Serif";
  margin-bottom: 60px;
}

.mediah3a{
  margin-right: 20px;
  margin-bottom: 40px;
}

.mediah3b{
margin-bottom: 40px;
}

.medianh3c{
float: right;
}

.photoh3a{
  margin-left: 40px;
  margin-bottom: 40px;
}

.photoh3b{
  margin-left: 150px;
  margin-bottom: 40px;
}

.photoh3d{
  margin-left: 150px;
}

.photoimagesa{
  width: 310px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.photoimagesb{
  width: 310px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.photoimagesc{
  width: 310px;
  margin-left: 200px;
  margin-bottom: 10px;
  margin-right: 70px;
}

.photoimagesca{
  width: 310px;
  margin-left: 200px;
  margin-bottom: 10px;
}

.photoimagesd{
  width: 310px;
  margin-left: 40px;
  margin-bottom: 10px;
}

.spring2015imagea{
margin-left: 200px;
margin-right: 50px;
margin-bottom: 25px;
width: 300px;
height: 200px;
}

.spring2015imageb{
  margin-right: 75px;
  margin-bottom: 25px;
  width: 300px;
  height: 200px;
}

.spring2015imagec{
  margin-bottom: 25px;
  margin-left: 200px;
  margin-right: 50px;
  width: 300px;
  height: 200px;
}

.spring2015imaged{
  margin-right: 75px;
  margin-bottom: 25px;
  width: 300px;
  height: 200px;
}

.spring2015imagee{
  margin-bottom: 25px;
  margin-left: 200px;
  margin-right: 50px;
  width: 300px;
  height: 200px;
}

.spring2015imagef{
  margin-right: 25px;
  margin-bottom: 25px;
  width: 135px;
  height: 202px;
}

.spring2015imageg{
  margin-bottom: 25px;
  width: 135px;
  height: 202px;
}

form{
  margin-left: 200px;
  margin-bottom: 50px;
}

form p{
  margin-left: 0px;
}

.formh1{
  margin-left: 280px;
}

label{
  font-family: "Poppins";
  display: block;
}

input{
  width: 70%;
  font-family: "Poppins";
  display: block;
}

input[type="radio"]{
  cursor: pointer;
}

input[type="text"] {
padding: 10px;
margin: 10px 0;
border-radius: 10px;
border: 0;
}

input[type="tel"] {
padding: 10px;
margin: 10px 0;
border-radius: 10px;
border: 0;
}

input[type="email"] {
padding: 10px;
margin: 10px 0;
border-radius: 10px;
border: 0;
}

input[type="textarea"] {
padding: 10px;
margin: 10px 0;
border-radius: 10px;
border: 0;
}

input[type="number"] {
padding: 10px;
margin: 10px 0;
border-radius: 10px;
border: 0;
}

footer > ul{
  display: grid;
  background-color: #919191;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  font-family: "Poppins";
  height: 250px;
  font-size: 15px;
  padding-left: 110px;
}

footer li{
  list-style: none;
  margin-left: 0;
  margin-top: 15px;
}
